/* App variables */
$app-base-color: #0099CC;

/* Bootstrap */
$theme-colors: (
  "primary": $app-base-color,
  "danger": #C0392B,
  "custom": #16A085
);

$border-radius: 2px;
/* $navbar-padding-y: 15px; */

@import "node_modules/bootstrap/scss/bootstrap";

@import "./src/style/base";
@import "./src/style/map";
@import "./src/style/panels";



