<div class="card">
    <div class="card-header">
        <i class="fab fa-apple"></i> Left
    </div>
    <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nihil, labore iure illum ex eius nemo autem quam modi 
            earum qui iusto dolor facere nesciunt nam corporis corrupti 
            accusamus enim excepturi dignissimos ipsum consequatur, 
            fugit nulla? Culpa officiis, aliquid delectus iusto, 
            odit repellendus id laudantium eius, similique temporibus 
            eligendi enim laboriosam!
        </p>
        <button class="btn btn-primary btn-sm"><i class="fab fa-twitter"></i> Test Primary</button>
        <button class="btn btn-danger btn-sm"><i class="fab fa-facebook"></i> Test Danger</button>
        <button class="btn btn-custom btn-sm"><i class="fas fa-user-circle"></i> Test Custom</button>
    </div>
</div>