<div class="card">
    <div class="card-header">
        <i class="fab fa-windows"></i> Right
    </div>
    <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Mollitia eveniet sed corrupti architecto delectus neque quae 
            nemo cum culpa eligendi perferendis officiis placeat hic, 
            deleniti quaerat, dolorum illum maiores facere! 
            Nulla debitis ipsam dolores, quaerat ex reiciendis odit. 
            Nemo tempore illum facilis rem a reprehenderit, officiis vitae. 
            Libero, sapiente quisquam!
        </p>
        <input type="text" class="form-control form-control-sm" placeholder="Type in here...">
    </div>
</div>