/* App variables */
$app-base-color: rgb(11, 54, 141);

/* Bootstrap */
$theme-colors: (
  "primary": $app-base-color,
  "danger": #C0392B,
  "custom": #16A085
);

$border-radius: 2px;
/* $navbar-padding-y: 15px; */

@import "node_modules/bootstrap/scss/bootstrap";
@import "./styles/map";