/* App variables */
$app-base-color:#0D4A4D;

/* Bootstrap */
$theme-colors: (
  "primary": $app-base-color,
  "secondary": #417E80,
  "danger": #C0392B,
  "custom": #003133
);

$border-radius: 2px;
/* $navbar-padding-y: 15px; */

@import "node_modules/bootstrap/scss/bootstrap";

/* OpenLayers */
@import "./styles/map";